/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color:#141e30 ;
}

/* Login Box Styles */
.login-box {
  position: absolute;
  top: 23rem; 
  left: 50%;
  width: 400px;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.loginboxH2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
}


/* Submit Button Styles */
/* login.css */
.loginButtonStyle {
  letter-spacing: 2px;
  width: 230px;
  height: 40px;
  color: #fff;
  margin-left: 2.4rem;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
/* 10 */
.btn-10 {
  background: rgba(0, 4, 236, 0.986);
background: linear-gradient(0deg, rgba(18, 243, 243, 0.711)0%, #0c40db 40%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-10:hover {
  letter-spacing: 4px;
  color: #fff;
  border: none;
  background: transparent;
}
.btn-10:hover:after {
  background: #7349ff;
background: linear-gradient(0deg, rgb(37, 37, 70) 0%,  rgba(65, 64, 89, 0.421)10%);
  -webkit-transform: scale(1);
  transform: scale(1);
}



/* Responsive styles */
@media (max-width: 768px) {
  .login-box {
    width: 90%;
    padding: 20px;
    top: 22rem; 
  }
}
